$blue: #0079c1;
$gray: #efefef;
$white: #efefef;
$black:#242424;
$orange:#ff642e;

$mapheader: 30px;

html,
body,
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0em;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  line-height: 1.55rem;
  font-feature-settings: "liga" 1, "calt" 0;
}

/* header */
header.top-nav {
  z-index: 1;
  border-color: $orange;
  background-color: $black;
  width: 100%;
  position: relative;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid $gray;
}

@media (max-width: 600px) {
  .toolbar-title {
    display: none;
  }
}

.top-nav-title {
  float: left;
  margin-right: 1.5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.25rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.top-nav-title,
.top-nav-link {
  color: $orange;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* text */
.esri-top-label-node>span,
.esri-handle-label-span,
.webmap-header {
  color: $white;
  font-size: 12px;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* map view */
.main{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.webmap-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ff642e
}

.webmap-header {
  height: $mapheader;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: $black;
}

.webmap-container-left,
.webmap-container-right {
  padding: 0;
  margin: 5px;
  width: 50%;
  height: calc(100% - 40px);
}

.webmap-container-left {
  float: left;
}

.webmap-container-right {
  float: right;
}

.webmap-left,
.webmap-right {
  padding: 0;
  height: 100%;
}

/* histogram slider */
.esri-renderer-slider {
  background-color: $black;
}

.main {
  flex-direction: column;
}

.esri-view-root {
  width: 100%;
  height: 100%;
}

/* Fix for some calcite styles */
.esri-widget {
  h3 {
    font-size: 1rem;
  }
  li {
    margin: 0;
  }
}
